@require 'settings/breakpoints.styl'

// Disable vertical overscroll behavior (bouncing) because it is too aggressive when scrolling with the trackpad on MacOS
:root
    overscroll-behavior-y none
    overflow-y hidden

// We need !important to override default style added by cozy-ui.

html
    height 100% !important // @stylint ignore

body
    height 100% !important // @stylint ignore

iframe
    // Hide the chat app navbar (80px) using clip-path
    clip-path inset(80px 0 0 0)
    margin-top -80px
    height calc(100% + 80px)

    +medium-screen()
        height calc(100% - 3rem + 80px)
        padding-top 3rem
